.home {
  width: 100vw;
  height: 100vh;
  padding: 0 0.75rem;
}
.home-background {
  position: absolute;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  /* z-index:; */
}
.home_container {
  width: 100%;
}
.home-background img {
  width: 180%;
  height: 100%;
  position: absolute;
  /* object-fit: cover; */
  filter: blur(2px);
}
.home_intro {
  width: 100%;
}
.intro {
  width: fit-content;
  z-index: 100;
  font-family: "Poppins", sans-serif;
  padding: 0 0.75rem;
}

.home_intro_text {
  font-family: "Poppins", sans-serif;
  /* color: #fff; */
  width: fit-content;
  height: 100%;
  text-align: left;
}
.home_intro_text h2 {
  font-size: 4rem;
  line-height: 1;
}
.home_intro_text p {
  text-transform: capitalize;
  padding: 10px 0;
  font-size: 12px;
  max-width: 700px;
  margin: 0 auto;
}
.home_intro_text p span {
  font-weight: lighter;
}

.progress_bars {
  padding: 20px 26px;
  z-index: 100;
}
.progress-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}

.progress-name {
  font-family: "Poppins", sans-serif;
  margin-top: 5px;
  color: #fff;
  /* font-weight: lighter; */
  text-transform: capitalize;
  font-size: 0.65rem;
}
.download-button {
  margin-top: 10px;
}
.download-button a {
  padding: 10px 5px;
  background-color: #fff;
  width: fit-content;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  font-size: 16px;
}
.download-button a p {
  color: #000;
}
.download-button button {
  width: fit-content;
  /* margin:10px 0px; */
  margin-left: 5px;
  border-bottom: 0.5px solid #fff;
  cursor: pointer;
  border: none;
  background: transparent;
}
.git_img {
  margin-top: 8px;
}
.git_img_container {
  width: 100%;
  padding: 0 12px;
}

@media screen and (min-width: 600px) {
  .home_intro_text h2 {
    font-size: 16vw;
  }
}

@media screen and (min-width: 768px) {
  .git_img {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
  }
  .git_img_container {
    max-width: 400px;
  }
}

@media screen and (min-width: 1024px) {
  .home {
    height: calc(100vh - 400px);
  }
  .home-background img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    filter: blur(2px);
  }
  .git_img_container {
    max-width: 600px;
  }
  .home_intro_text h2 {
    font-size: 6rem;
  }
  .home_intro_text p {
    font-size: 16px;
    /* margin-top:10px */
  }

  .progress-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* height: 100vh; */
    height: fit-content;
    padding: 0 85px;
  }
  .progress-bar-container li {
    width: 80px;
  }
}

@media screen and (min-width: 1279px) {
  .home {
    padding: 0 0.8rem;
    height: 100vh;
  }
  .home_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height: 100%; */
  }

  .home_intro {
    min-width: 340px;
    max-width: 650px;
  }
  .intro {
    margin-top: 10px;
  }
  .progress_bars {
    width: 100%;
  }
  .progress-bar-container {
    flex-direction: row;
  }

  .home_intro_text p span {
    padding: 0;
    /* margin-top: 30px; */
    font-size: 14px;
  }
  .git_img {
    flex-direction: column;
    margin-top: 0px;
  }
  .git_img_container {
    max-width: 450px;
  }
}
